@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	@apply w-[100vw] h-[100vh] bg-[url('/background1.jpeg')] bg-no-repeat bg-center 
        bg-cover overflow-hidden object-fill;
}

.main {
}
